@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var totalTax = Model.Carts.Sum(x => x.LineTax);
    var totalCart = Model.Carts.Sum(x => x.LineCost);

}
<h1>@ViewData["Title"]<i class="fa fa-shopping-cart"></i></h1>

<h1>Your Cart: </h1>


<P>@ViewBag.ErrorMessage</P>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["Error"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Line Price</th>
                <th scope="col">Tax Amount</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.Carts)
            {
                <tr>
                    <th>@cartItem.DrinkName</th>
                    <td>
                        <input data-cartid="@cartItem.CartId" type="number" value="@cartItem.Quantity" class="w-50 quantityNumUpdate" id="quantity_@cartItem.CartId"
                               oninput="validity.valid||(value='');" name="quantity_@cartItem.IdProduct" min="1" max="10" step="1" size="2" />
                    </td>
                    @if (cartItem.SizeName == null || cartItem.SizeName == "")
                    {
                        <td>n/a</td>
                    }
                    else
                    {
                        <td>@cartItem.SizeName</td>
                    }
                    <td>@cartItem.Price.ToString("C")</td>
                    <td hidden id="price_@cartItem.CartId">@cartItem.Price</td>
                    <td>@cartItem.TotalPrice.ToString("C")</td>
                    <td>@cartItem.LineTax.ToString("C")</td>
                    <td>@cartItem.LineCost.ToString("C")</td>
                    <td>
                        <button disabled data-cartid="@cartItem.CartId" class="btn btn-orange btn-quantity" id="btn_quantity_@cartItem.CartId">Update Quantity</button>
                        <button data-cartid="@cartItem.CartId" class="btn btn-orange btn-remove" id="btn_quantity_@cartItem.CartId">Remove</button>
                    </td>
                </tr>
                @foreach (var item in Model.checkoutItems)
                {
                    <tr>

                        @if (item.cartTableId == cartItem.CartId)
                        {
                            if (item.addOnList.Count > 0)
                            {
                                var addOnTypes = item.addOnList.Select(a => a.addOnType).Distinct().ToList();
                                var syrups = item.addOnList.Where(a => a.addOnType == "Syrup").ToList();
                                var totalSyrupCost = syrups.Sum(a => a.TotalPrice);
                                
                                <tr class="parent" id="@cartItem.CartId" title="Click to expand/collapse" style="cursor: pointer;">
                                  <td> <button type="button" class="collapsible">Add Ons:</button> </td>
                                </tr>
                            

                                foreach (var addOnType in addOnTypes)
                                {

                                   <tr class="child-@cartItem.CartId">

                                   <td class="small">@addOnType</td>

                                @foreach (var addons in item.addOnList)
                                {
                                    if (addons.addOnType == addOnType)
                                    {
                                        <td class="small">@addons.Quantity, @addons.addOnDescription </td>

                                    }

                                }
                                @if (addOnType == "Syrup")
                                {
                                    <td class="small font-weight-bold">Total Cost: @totalSyrupCost</td>
                                }
                                else if (addOnType == "Espresso")
                                {
                                    <td class="small font-weight-bold">Total Cost: @item.addOnList.SingleOrDefault(a => a.addOnDescription == "Espresso Shot").TotalPrice</td>
                                }
                                else { }

                            </tr>
                            }







                            }

                            }
                            </tr>

                        }

                    }
                        <tr>




                        <tr>
                            <th>Totals</th>
                            <td colspan="4"></td>
                            <td colspan="1" id="totalTax">@totalTax.ToString("C")</td>
                            <td colspan="1" id="totalCost">@totalCart.ToString("C")</td>
                        </tr>
                    </tbody>
    </table>
</div>



@if (Model.Carts.Count > 0)
{
    <form action="" method="post">
        <input type="submit" value="Clear Cart" name="clear" class="btn btn-orange" asp-controller="Cart"
               asp-action="ClearCart" />
        <input type="submit" value="Purchase" name="purchase" class=" btn btn-orange" asp-controller="Cart"
               asp-action="Purchase" />
    </form>
}
else
{
    <h5>You have no items in your cart. Don't forget to visit our <a asp-area="" asp-controller="Cart" asp-action="Category">menu</a> to grab a latte!</h5>
}
<script>
    $('.quantityNumUpdate').on('input change mouseup keyup', function () {
        var ID = $(this).data('cartid');

        var quantity = $('#quantity_' + ID).val();
        if (quantity == "") {
            $("#btn_quantity_" + ID).prop("disabled", true);
        }
        else {
            $("#btn_quantity_" + ID).prop("disabled", false);
        }
    });

    $('.btn-quantity').click(function () {
            var ID = $(this).data('cartid');
            var price = $('#price_' + ID).text();
            var quantity = $('#quantity_' + ID).val();

            var totalPrice = price * quantity;
            var lineTax = totalPrice * 0.075;
            var lineCost = lineTax + totalPrice;

            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateCartQuantity", "Cart")',
                data: {
                cartid: ID,
                quantity: quantity,
                totalPrice: totalPrice,
                lineTax: lineTax,
                lineCost: lineCost
            },
            success: function () {
                alert("Succesfully updated quantity!");
                location.reload();
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
            }
            });
    });

    $('.btn-remove').click(function () {
            var ID = $(this).data('cartid');
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Remove", "Cart")',
                data: {
                cartid: ID
            },
            success: function () {
                alert("Item Deleted!");
                location.reload();
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
            }
            });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('tr.parent')
            .css("cursor", "pointer")
            .attr("title", "Click to expand/collapse")
            .click(function () {
                $(this).siblings('.child-' + this.id).toggle();
            });
        $('tr[class^=child-]').hide().children('td');
    });
</script>