@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var totalCart = Model.Carts.Sum(x => x.Price * x.Quantity);

}
<h1>@ViewData["Title"]<i class="fa fa-shopping-cart"></i></h1>

<h1>Your Cart: </h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var cartItem in Model.Carts)
            {
                <tr>
                    <td>@cartItem.DrinkName</td>
                    <td>@cartItem.Quantity</td>
                    <td>@cartItem.SizeName</td>
                    <td>@cartItem.Price</td>
                    <td>@(cartItem.Quantity * cartItem.Price)</td>
                </tr>
            }

            <tr>
                <td colspan="3"></td>
                <td colspan="1">Total: </td>
                <td colspan="1">@totalCart</td>
            </tr>
        </tbody>
    </table>
</div>

<form action="" method="post">
    <input type="submit" value="Purchase" name="asp-controller="Checkout" 
   asp-action="Purchase" />
    <input type="submit" value="Clear Cart" name="asp-controller="Checkout" 
   asp-action="ClearCart" />
</form>