@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var totalTax = Model.Carts.Sum(x => (0.075m * x.TotalPrice));
    var totalCart = Model.Carts.Sum(x => totalTax + x.TotalPrice);

}
<h1>@ViewData["Title"]<i class="fa fa-shopping-cart"></i></h1>

<h1>Your Cart: </h1>


<P>@ViewBag.ErrorMessage</P>
          

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Line Price</th>
                <th scope="col">Tax Amount</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var cartItem in Model.Carts)
            {
                <tr>
                    <td>@cartItem.DrinkName</td>
                    <td>
                        <input data-cartid="@cartItem.CartId" type="number" value="@cartItem.Quantity" class="w-50 quantityNumUpdate" id="quantity_@cartItem.CartId"
                               oninput="validity.valid||(value='');" name="quantity_@cartItem.IdProduct" min="1" max="10" step="1" size="2" />
                    </td>
                    @if (cartItem.SizeName == null || cartItem.SizeName == "")
                    {
                        <td>n/a</td>
                    }
                    else
                    {
                        <td>@cartItem.SizeName</td>
                    }
                    <td>@cartItem.Price.ToString("C")</td>
                    <td hidden id="price_@cartItem.CartId">@cartItem.Price</td>
                    <td>@cartItem.TotalPrice.ToString("C")</td>
                    <td>@cartItem.LineTax.ToString("C")</td>
                    <td>@cartItem.LineCost.ToString("C")</td>
                    <td>
                        <button disabled data-cartid="@cartItem.CartId" class="btn btn-orange btn-quantity" id="btn_quantity_@cartItem.CartId">Update Quantity</button>
                        <button data-cartid="@cartItem.CartId" class="btn btn-orange btn-remove" id="btn_quantity_@cartItem.CartId">Remove</button>
                    </td>
                </tr>
                @foreach (var item in Model.checkoutItems)
                {
                    <tr>

                        @if (item.cartTableId == cartItem.CartId)
                        {
                            if (item.addOnList.Count > 0)
                            {
                                <td class="font-weight-bold">Add Ons:</td>


                                // Add TR for the types and then fill in underneath types with each item (i.e. Creamers/ all creamers Sweetner/ all sweetners)
                                foreach (var addons in item.addOnList)
                                {
                                    if (addons != null)
                                    {
                                        if (addons.addOnType == "Creamer")
                                        {
                                        <tr>
                                            <td>@addons.addOnDescription</td>
                                        </tr>
                                    }
                                    if (addons.addOnType == "Sweetner")
                                    {
                                        <tr>
                                            <td>@addons.addOnDescription</td>
                                        </tr>
                                    }
                                    if (addons.addOnType == "Syrup")
                                    {
                                        <tr>
                                            <td>@addons.addOnDescription</td>
                                        </tr>
                                    }
                                    if (addons.addOnType == "Esspresso")
                                    {
                                        <tr>
                                            <td>@addons.addOnDescription</td> 
                                        </tr>
                                    }



                                }
                            }
                        }

                    }
                        </tr>

                    }





            }
            <tr>



            <tr>
                <td colspan="6"></td>
                <td colspan="1" id="totalTax">@totalTax.ToString("C")</td>
                <td colspan="1" id="totalCost">@totalCart.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>



@if (Model.Carts.Count > 0)
{
    <form action="" method="post">
        <input type="submit" value="Clear Cart" name="clear" class="btn btn-orange" asp-controller="Cart"
               asp-action="ClearCart" />
        <input type="submit" value="Purchase" name="purchase" class=" btn btn-orange" asp-controller="Cart"
               asp-action="Purchase" />
    </form>
}
else
{
    <h5>You have no items in your cart. Don't forget to visit our <a asp-area="" asp-controller="Cart" asp-action="Category">menu</a> to grab a latte!</h5>
}
<script>
    $('.quantityNumUpdate').on('input change mouseup keyup', function () {
        var ID = $(this).data('cartid');

        var quantity = $('#quantity_' + ID).val();
        if (quantity == "") {
            $("#btn_quantity_" + ID).prop("disabled", true);
        }
        else {
            $("#btn_quantity_" + ID).prop("disabled", false);
        }
    });

    $('.btn-quantity').click(function () {
            var ID = $(this).data('cartid');
            var price = $('#price_' + ID).text();
            var quantity = $('#quantity_' + ID).val();

            var totalPrice = price * quantity;
            var lineTax = totalPrice * 0.075;
            var lineCost = lineTax + totalPrice;

            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateCartQuantity", "Cart")',
                data: {
                cartid: ID,
                quantity: quantity,
                totalPrice: totalPrice,
                lineTax: lineTax,
                lineCost: lineCost
            },
            success: function () {
                alert("Succesfully updated quantity!");
                location.reload();
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
            }
            });
    });

    $('.btn-remove').click(function () {
            var ID = $(this).data('cartid');
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Remove", "Cart")',
                data: {
                cartid: ID            
            },
            success: function () {
                alert("Item Deleted!");
                location.reload();
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
            }
            });
    });
</script>