@using Microsoft.AspNetCore.Identity
@using LoveYouALatte_Authentication.Data;


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MenuViewModel
@{
    var products = Model.Products.GroupBy(x => new { x.DrinkName, x.DrinkDescription });
    var categories = Model.Products.GroupBy(x => new { x.DrinkCategory });
}
<h1>@ViewData["Title"]</h1>

@foreach (var cat in categories)
{
    <h1 class="text-center">@cat.Key.DrinkCategory</h1>
}
<div class="card-deck">
    <div class="row">
        @foreach (var prod in products)
        {
            <div class="col-lg-6">
                <div class="card mb-2">
                    <img class="card-img-top" src="~/Images/@(prod.Key.DrinkName).jpg" alt="@(prod.Key.DrinkName)" />
                    <div class="card-img-overlay">
                        <h4 class="card-title">@(prod.Key.DrinkName)</h4>
                    </div>
                    <h6 class="card-text text-center">@(prod.Key.DrinkDescription)</h6>


                    <ul class="list-group list-group-flush">
                        @foreach (var item in prod)
                        {
                        <li class="list-group-item text-center">
                            @if (item.SizeName == null || item.SizeName == "")
                            {
                                <h5>$@(item.Price)</h5>
                            }
                            else
                            {
                                <h5>@(item.SizeName): $@(item.Price)</h5>
                            }
                            <p hidden id="price_@item.ProductId">@(item.Price)</p>
                            <p hidden id="size_@item.ProductId">@(item.SizeName)</p>

                            <label for="quantity_@item.ProductId">Quantity: <input data-productid="@item.ProductId" type="number" class="w-50 quantityNum" id="quantity_@item.ProductId" oninput="validity.valid||(value='');" name="quantity_@item.ProductId" min="1" max="10" step="1" size="2" /></label>
                            <button disabled data-productid="@item.ProductId" class="btn btn-orange btn-add" id="btn_add_@item.ProductId">Add To Cart<i class="fa fa-coffee"></i></button>
                            <br />
                        </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>



<div id="addOn" class="modal bd-example-modal-lg" style="display: none;" >
    <div style="float: right; right: 0px; top: 0px; font-size: 14px;" class="w-25 h-100 position-fixed bg-secondary text-light">
        <div class="overlay-content text-center">
            <br />
            <h1  class="font-weight-bold" style="font-size: 24px;">Addons</h1>
         
            <p style="font-size: 14px;"> Here are the add on options we have at love you a latte!</p>
           

            <form id="addOnForm" method="post" asp-action="addAddOns" asp-controller="cart">

                <h2 style="font-size: 16px;">Creamers (No Cost, Limit 10)</h2>

                @for (int i = 0; i < 5; i++)
                {

                    <div>
                        <input asp-for="@Model.addOns.addOnList[i].addOnId" value="@Model.addOns.addOnList[i].addOnId" hidden />
                        <input class="add-on-quantity" data-addOnId='@Model.addOns.addOnList[i].addOnId' asp-for="@Model.addOns.addOnList[i].Quantity" min="0" max="10" />
                        <label>
                            @Model.addOns.addOnList[i].addOnDescription
                        </label>
                        <span asp-validation-for="@Model.addOns.addOnList[i].Quantity" class="text-danger font-weight-bold"></span><br />

                    </div>


                }
            <br />

            <h2 style="font-size: 16px;">Sweetners (No Cost, Limit 10)</h2>

                @for (int i = 5; i < 9; i++)
                {
                    <div>
                        <input class="add-on-quantity" data-addOnId='@Model.addOns.addOnList[i].addOnId' asp-for="@Model.addOns.addOnList[i].Quantity" min="0" max="10" />
                        <label>
                            @Model.addOns.addOnList[i].addOnDescription
                        </label>
                        <span asp-validation-for="@Model.addOns.addOnList[i].Quantity" class="text-danger font-weight-bold"></span><br />

                    </div>
                }

            <br />
            <h2 style="font-size: 16px;">Syrups ($0.25 each, Limit 10)</h2>

                @for (int i = 9; i < 13; i++)
                {

                    <div>
                        <input class="add-on-quantity" data-addOnId='@Model.addOns.addOnList[i].addOnId' asp-for="@Model.addOns.addOnList[i].Quantity" min="0" max="10" />
                        <label>
                            @Model.addOns.addOnList[i].addOnDescription
                        </label>
                        <span asp-validation-for="@Model.addOns.addOnList[i].Quantity" class="text-danger font-weight-bold"></span><br />

                    </div>
                }

                @if (Model.CategoryId < 3)
                {
            <br />
            <h2 style="font-size: 16px;">Espresso Shot ($1.50 per shot, Limit 20)</h2>
                    @for (int i = 13; i < Model.addOns.addOnList.Count(); i++)
                    {

                        <div>
                            <input class="add-on-quantity" data-addOnId='@Model.addOns.addOnList[i].addOnId' asp-for="@Model.addOns.addOnList[i].Quantity" min="0" max="25" />
                            <label>
                                @Model.addOns.addOnList[i].addOnDescription
                            </label>
                            <span asp-validation-for="@Model.addOns.addOnList[i].Quantity" class="text-danger font-weight-bold"></span><br />

                        </div>
                    }
                }



                <br />
                <div class="d-flex justify-content-center">
                    <input class="btn btn-orange submit m-2" id="addOnSubmit" type="button" value="Add to Drink" /><br /><br />
                    <input class="btn btn-primary submit m-2" type="button" value="No Thank You" />
                </div>
            </form>

        </div>

    </div>
</div>




    <div id="guestUserLogin" class="modal bd-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Continue as Guest?</h2>
                    <div style="padding:4px;">
                        <button type="button" class="close" data-dismiss="modal" style="float:right; padding:4px;">x</button>
                    </div>
                </div>
                <div class="modal-body">
                    <p>To place an order please either <a asp-area="Identity" asp-page="/Account/Login">login</a> with your account or <a asp-area="Identity" asp-page="/Account/Register">register</a> for a new account. If you would like to checkout as a guest, please provide the information below</p>

                    <form method="post" id="guestUserSignInForm">
                        <div class="form-group row">
                            <label class="col-lg-3" asp-for="NewGuestUser.FirstName"></label>
                            <input class="form-control col-lg-9" id="guestUserFirstName" asp-for="NewGuestUser.FirstName" /><br />
                            <span asp-validation-for="NewGuestUser.FirstName" class="text-danger"></span><br />
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3" asp-for="NewGuestUser.LastName"></label>
                            <input class="form-control col-lg-9" id="guestUserLastName" asp-for="NewGuestUser.LastName" /><br />
                            <span asp-validation-for="NewGuestUser.LastName" class="text-danger"></span><br />
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3" asp-for="NewGuestUser.Email"></label>
                            <input class="form-control col-lg-9" id="guestUserEmail" asp-for="NewGuestUser.Email" /><br />
                            <span asp-validation-for="NewGuestUser.Email" class="text-danger"></span><br />
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-orange" type="submit" id="guestUserSignInButton">Sign in as Guest</button>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <script>
    var $isGuestUser = '@HttpContextAccessor.HttpContext.Request.Cookies["guestUserId"]';
    $(document).ready(function () {

       /*Addon AJAX Query*/
        $('.submit').click(function () {
            var $form = $("#addOnForm");
            $.validator.unobtrusive.parse($form);
            $form.validate();
            if ($form.valid()) {

                
                let warning = true;

                drinkAddOns = [];

                $(".add-on-quantity").each(function (i, item) {
                    var $item = $(item);
                    drinkAddOns.push({
                        addOnId: $item.data("addonid"),
                        Quantity: $item.val()
                    })
                })

                $("#signInBtn").click(function () {
                    window.location.href = '@Url.Action("Menu", "Cart")?catid=' + ID;
                })

                
                if (drinkAddOns.length > 13)
                {
                    if (drinkAddOns[13].Quantity > 5) {
                        warning = confirm("WARNING: By adding more than five (5) shots of espresso to your drink, you have exceeded the daily recommended amount of caffeine by the FDA. Would you like to proceed?");
                    }
                }


                if (warning) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("addAddOns", "Cart")',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(drinkAddOns),
                        success: function (response) {
                            alert(response.responseText);
                            $("#addOn").hide("slow");
                            $(".quantityNum").each(function () {
                                $(this).val("");
                            })
                            $(".add-on-quantity").each(function () {
                                $(this).val(0);
                            })
                            $(".btn-add").each(function () {
                                $(this).prop("disabled", true);
                            });


                        },
                        error: function (response) {
                            alert('Error: ' + response.responseText);
                        }

                    });
                }
                
            }

       });



        /*GuestUser AJAX query*/
            $('#guestUserSignInButton').click(function () {

                var $form = $("#guestUserSignInForm");
                $.validator.unobtrusive.parse($form);
                $form.validate();
            if ($form.valid()) {

                let NewGuestUser = {}

                NewGuestUser.FirstName = $("#guestUserFirstName").val();
                NewGuestUser.LastName = $("#guestUserLastName").val();
                NewGuestUser.Email = $("#guestUserEmail").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("createGuestAccount", "Cart")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(NewGuestUser),
                    success: function (response) {
                        alert(response.responseText);
                        $(".modal").hide();
                        window.$isGuestUser = response.gUserId;

                    },
                    error: function (response) {
                        alert('Error: Please provide the required guest user information to proceed.');
                        $(".modal").show();

                    }
                });

            }

       });


    });



    $(".close").click(function () {
        $(".modal").hide();
    });




    $('.quantityNum').on('input change mouseup keyup', function () {
        var ID = $(this).data('productid');

        var quantity = $('#quantity_' + ID).val();
        if (quantity == "") {
            $("#btn_add_" + ID).prop("disabled", true);
        }
        else {
            $("#btn_add_" + ID).prop("disabled", false);
        }
    });

    $('.btn-add').click(function () {
        var isLoggedIn = "@this.User.Identity.IsAuthenticated";


        if (isLoggedIn == "True" || $isGuestUser != '') {
            var ID = $(this).data('productid');
            var price = $('#price_' + ID).text();
            var size = $('#size_' + ID).text();
            var quantity = $('#quantity_' + ID).val();

            var totalPrice = price * quantity;
            var lineTax = totalPrice * 0.075;
            var lineCost = lineTax + totalPrice;

            $.ajax({

                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AddToCart", "Cart")',
                data: {
                    productid: ID,
                    quantity: quantity,
                    totalPrice: totalPrice,
                    lineTax: lineTax,
                    lineCost: lineCost
                },
                success: function () {
                    alert("Succesfully added to cart!");
                    if (size == "") {
                        $(".quantityNum").each(function () {
                            $(this).val("");
                        })
                    } else {
                        $("#addOn").show("slow");
                    }
                },
                error: function (data) {
                    alert('Error: ' + data.statusText);
                }
            });
        }
        else {
            $("#guestUserLogin").show("slow");
        }
    });

    </script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
