@using Microsoft.AspNetCore.Identity
@using LoveYouALatte_Authentication.Data;


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MenuViewModel
@{
    var products = Model.Products.GroupBy(x => new { x.DrinkName, x.DrinkDescription, x.Inventory });
    var categories = Model.Products.GroupBy(x => new { x.DrinkCategory });
}
<h1>@ViewData["Title"]</h1>

@foreach (var cat in categories)
{
    <h1 class="text-center">@cat.Key.DrinkCategory</h1>
}
<div class="card-deck">
    <div class="row">
        @foreach (var prod in products)
        {
        <div class="col-lg-6">
            @if (prod.Key.Inventory == 0) //out of stock menu card
            {
                <div class="card mb-2">
                    <img class="card-img-top outOfStock" src="~/Images/@(prod.Key.DrinkName).jpg" alt="@(prod.Key.DrinkName)" />
                    <div class="card-img-overlay">
                        <h4 class="card-title text-danger">@(prod.Key.DrinkName) out of stock!</h4>
                    </div>
                    <h6 class="card-text text-center outOfStock">@(prod.Key.DrinkDescription)</h6>


                    <ul class="list-group list-group-flush outOfStock">
                        @foreach (var item in prod)
                        {
                        <li class="list-group-item text-center">
                            @if (item.SizeName == null || item.SizeName == "")
                            {
                                <h5>$@(item.Price)</h5>
                            }
                            else
                            {
                                <h5>@(item.SizeName): $@(item.Price)</h5>
                            }
                            @*<p hidden id="price_@item.ProductId">@(item.Price)</p>
                            <p hidden id="size_@item.ProductId">@(item.SizeName)</p>

                            <label for="quantity_@item.ProductId">Quantity: <input data-productid="@item.ProductId" type="number" class="w-50 quantityNum" id="quantity_@item.ProductId" oninput="validity.valid||(value='');" name="quantity_@item.ProductId" min="1" max="10" step="1" size="2" /></label>
                            <button disabled data-productid="@item.ProductId" class="btn btn-orange btn-add" id="btn_add_@item.ProductId">Add To Cart<i class="fa fa-coffee"></i></button>
                            <br />*@
                        </li>
                        }
                    </ul>
                </div>
            }
            else //in stock menu card
            {
                <div class="card mb-2">
                    <img class="card-img-top" src="~/Images/@(prod.Key.DrinkName).jpg" alt="@(prod.Key.DrinkName)" />
                    <div class="card-img-overlay">
                        <h4 class="card-title">@(prod.Key.DrinkName)</h4>
                    </div>
                    <h6 class="card-text text-center">@(prod.Key.DrinkDescription)</h6>


                    <ul class="list-group list-group-flush">
                        @foreach (var item in prod)
                        {
                            <li class="list-group-item text-center">
                                @if (item.SizeName == null || item.SizeName == "")
                                {
                                    <h5>$@(item.Price)</h5>
                                }
                                else
                                {
                                    <h5>@(item.SizeName): $@(item.Price)</h5>
                                }
                                <p hidden id="price_@item.ProductId">@(item.Price)</p>
                                <p hidden id="size_@item.ProductId">@(item.SizeName)</p>
                                <p hidden id="drinkFood_@item.ProductId">@(item.DrinkId)</p>

                                <label for="quantity_@item.ProductId">Quantity: <input data-productid="@item.ProductId" type="number" class="w-50 quantityNum" id="quantity_@item.ProductId" oninput="validity.valid||(value='');" name="quantity_@item.ProductId" min="1" max="10" step="1" size="2" /></label>
                                <button disabled data-productid="@item.ProductId" class="btn btn-orange btn-add" id="btn_add_@item.ProductId">Add To Cart<i class="fa fa-coffee"></i></button>
                                <br />
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        }
    </div>
</div>




<div style="display: none; float: right; right: 0px; top: 0px; " id="addOn" class="z-index-2 w-25 h-100 position-fixed bg-secondary text-light">
    <div class="overlay-content text-center">
        <br /><br />
        <h1>Addons</h1>
        <br />
        <p> Here are the creamer options we have at love you a latte!</p>
        <br />

        <form method="post" asp-action="addAddOns" asp-controller="cart">

            <h2>Creamers</h2>

            @for (int i = 0; i < 5; i++)
            {
                
                <div>
                    <input class="hello" data-addOn='@Json.Serialize(@Model.addOns.addOnList[i])' type="hidden" asp-for="@Model.addOns.addOnList[i].addOnId" />
                    <input type="hidden" asp-for="@Model.addOns.addOnList[i].addOnType" />
                    <input type="hidden" asp-for="@Model.addOns.addOnList[i].addOnDescription" />
                    <input class="add-on-checkbox" data-addOn='@Json.Serialize(@Model.addOns.addOnList[i])' data-addOnId='@Model.addOns.addOnList[i].addOnId' type="checkbox" asp-for="@Model.addOns.addOnList[i].isSelected" />
                    <label class="form-check-label">
                        @Model.addOns.addOnList[i].addOnDescription
                    </label>

                </div>


            }

            <h2>Sweetners</h2>

            @for (int i = 5; i < 9; i++)
            {
                <div>
                    <input class="hello" data-addOn='@Json.Serialize(@Model.addOns.addOnList[i])' type="hidden" asp-for="@Model.addOns.addOnList[i].addOnId" />
                    <input type="hidden" asp-for="@Model.addOns.addOnList[i].addOnType" />
                    <input type="hidden" asp-for="@Model.addOns.addOnList[i].addOnDescription" />
                    <input class="add-on-checkbox" data-addOn='@Json.Serialize(@Model.addOns.addOnList[i])' data-addOnId='@Model.addOns.addOnList[i].addOnId' type="checkbox" asp-for="@Model.addOns.addOnList[i].isSelected" />
                    <label class="form-check-label">
                        @Model.addOns.addOnList[i].addOnDescription
                    </label>

                </div>
            }
            <br />
            <input class="btn btn-orange submit" id="addOnSubmit" type="button" value="Add to Drink" /><br /><br />
            <input class="btn btn-primary submit" type="button" value="No Thank You" />
        </form>

    </div>

</div>




<div class="modal bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Continue as Guest?</h2>
                <div style="padding:4px;">
                    <button type="button" class="close" data-dismiss="modal" style="float:right; padding:4px;">x</button>
                </div>
            </div>
            <div class="modal-body">
                <p>To place an order please either <a asp-area="Identity" asp-page="/Account/Login">login</a> with your account or <a asp-area="Identity" asp-page="/Account/Register">register</a> for a new account. If you would like to checkout as a guest, please provide the information below</p>

                <form method="post" id="guestUserSignInForm">
                    <div class="form-group row">
                        <label class="col-lg-3" asp-for="NewGuestUser.FirstName"></label>
                        <input class="form-control col-lg-9" id="guestUserFirstName" asp-for="NewGuestUser.FirstName" /><br />
                        <span asp-validation-for="NewGuestUser.FirstName" class="text-danger"></span><br />
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3" asp-for="NewGuestUser.LastName"></label>
                        <input class="form-control col-lg-9" id="guestUserLastName" asp-for="NewGuestUser.LastName" /><br />
                        <span asp-validation-for="NewGuestUser.LastName" class="text-danger"></span><br />
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3" asp-for="NewGuestUser.Email"></label>
                        <input class="form-control col-lg-9" id="guestUserEmail" asp-for="NewGuestUser.Email" /><br />
                        <span asp-validation-for="NewGuestUser.Email" class="text-danger"></span><br />
                    </div>
                </form>
                    <div class="modal-footer">
                        <button class="btn btn-orange" type="submit" id="guestUserSignInButton">Sign in as Guest</button>
                    </div>
                
            </div>
            
        </div>
    </div>
</div>




<script>
    var $isGuestUser = '@HttpContextAccessor.HttpContext.Request.Cookies["guestUserId"]';
    $(document).ready(function () {

       /*Addon AJAX CALL*/
       $('.submit').click(function () {
            drinkAddOns = [];

            $(".add-on-checkbox").each(function (i, item) {
                var $item = $(item);
                drinkAddOns.push({
                    addOnId: $item.data("addonid"),
                    isSelected: $item[0].checked,
                    addOnType: "creamer",
                    addOnDescription: "test"
                })
            })

           $("#signInBtn").click(function () {
                window.location.href = '@Url.Action("Menu", "Cart")?catid=' + ID;
           })

           $.ajax({
               type: "POST",
               url: '@Url.Action("addAddOns", "Cart")',
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               data: JSON.stringify(drinkAddOns),
                success: function (response) {
                    alert(response.responseText);
                    $("#addOn").hide("slow");
                    $(".quantityNum").each(function () {
                        $(this).val("");
                    })
                    $(".add-on-checkbox").each(function () {
                        $(this).prop("checked", false);
                    })
                    $(".btn-add").each(function () {
                        $(this).prop("disabled", true);
                    });


                },
                error: function (response) {
                    alert('Error: ' + response.responseText);
                }
            });

       });

        

        /*GuestUser AJAX CALL*/
            $('#guestUserSignInButton').click(function () {

                var $form = $("#guestUserSignInForm");
                $.validator.unobtrusive.parse($form);
                $form.validate();
            if ($form.valid()) {

                let NewGuestUser = {}

                NewGuestUser.FirstName = $("#guestUserFirstName").val();
                NewGuestUser.LastName = $("#guestUserLastName").val();
                NewGuestUser.Email = $("#guestUserEmail").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("createGuestAccount", "Cart")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(NewGuestUser),
                    success: function (response) {
                        alert(response.responseText);
                        $(".modal").hide();
                        window.$isGuestUser = response.gUserId;

                    },
                    error: function (response) {
                        alert('Error: Please provide the required guest user information to proceed.');
                        $(".modal").show();

                    }
                });

            }

       });


    });



    $(".close").click(function () {
        $(".modal").hide();
    });




    $('.quantityNum').on('input change mouseup keyup', function () {
        var ID = $(this).data('productid');

        var quantity = $('#quantity_' + ID).val();
        if (quantity == "") {
            $("#btn_add_" + ID).prop("disabled", true);
        }
        else {
            $("#btn_add_" + ID).prop("disabled", false);
        }
    });

    $('.btn-add').click(function () {
        var isLoggedIn = "@this.User.Identity.IsAuthenticated";


        if (isLoggedIn == "True" || $isGuestUser != '') {
            var ID = $(this).data('productid');
            var drinkFoodID = $('#drinkFood_' + ID).text();
            var price = $('#price_' + ID).text();
            var size = $('#size_' + ID).text();
            var quantity = $('#quantity_' + ID).val();

            var totalPrice = price * quantity;
            var lineTax = totalPrice * 0.075;
            var lineCost = lineTax + totalPrice;

            $.ajax({

                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("AddToCart", "Cart")',
                data: {
                    productid: ID,
                    drinkFoodId: drinkFoodID,
                    quantity: quantity,
                    totalPrice: totalPrice,
                    lineTax: lineTax,
                    lineCost: lineCost
                },
                success: function () {
                    alert("Succesfully added to cart!");
                    if (size == "") {
                        $(".quantityNum").each(function () {
                            $(this).val("");
                        })
                    } else {
                        $("#addOn").show("slow");
                    }
                },
                error: function (data) {
                    alert('Error: ' + data.statusText);
                }
            });
        }
        else {
            $(".modal").show("slow");
        }
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}