@model ReceiptModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>


<table class="table table-bordered table-responsive table-hover">

    <tr>
        <th> Order Number</th>
        <th> Date/Time</th>
    </tr>
    <tr>
        <td>@Model.UserOrderId</td>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Tax</th>
        <th>Line Item Price</th>

    </tr>
    <tr>
        @foreach (var orderItem in Model.Items)
        {
        <tr>
            <td>@orderItem.ProductDescription</td>
            <td>@orderItem.sizeDescription</td>
            <td>@orderItem.unitCost.ToString("C")</td>
            <td>@orderItem.quantity</td>
            <td>@orderItem.tax.ToString("C")</td>
            <td>@orderItem.totalCost.ToString("C")</td>
        </tr>
        @if (orderItem.addOnList.Count > 0)
        {
            <tr>
                <td></td>
                <th>Add Ons</th>
                @foreach (var addOn in orderItem.addOnList)
                {

                    if (addOn.addOnType == "Creamer")
                    {
                    <tr>
                        <td>@addOn.addOnDescription</td>
                        <td> @addOn.UnitPrice</td>
                        <td> @addOn.Quantity</td>
                        <td>@addOn.TotalPrice</td>
                    </tr>
                }
                if (addOn.addOnType == "Sweetner")
                {
                    <tr>
                        <td>@addOn.addOnDescription</td>
                        <td> @addOn.UnitPrice</td>
                        <td> @addOn.Quantity</td>
                        <td>@addOn.TotalPrice</td>
                    </tr>
                }
                if (addOn.addOnType == "Syrup")
                {
                    <tr>
                        <td>@addOn.addOnDescription</td>
                        <td> @addOn.UnitPrice</td>
                        <td> @addOn.Quantity</td>
                        <td>@addOn.TotalPrice</td>
                    </tr>
                }
                if (addOn.addOnType == "Esspresso")
                {
                    <tr>
                        <td>@addOn.addOnDescription</td>
                        <td> @addOn.UnitPrice</td>
                        <td> @addOn.Quantity</td>
                        <td>@addOn.TotalPrice</td>
                    </tr>
                }



            }
                </tr>

            }

    }

        <tr>
            <td colspan="4"></td>
            <td>Total:</td>
            <td>@Model.GrandTotal.ToString("C")</td>
        </tr>




    </table>

