@model ReceiptModel

@{
    ViewData["Title"] = "Receipt";
}

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h1>Receipt</h1>


<table class="table table-bordered table-responsive table-hover">

    <tr>
        <th> Order Number</th>
        <th> Date/Time</th>
    </tr>
    <tr>
        <td>@Model.UserOrderId</td>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Tax</th>
        <th>Line Item Price</th>

    </tr>
    <tr>
        @foreach (var orderItem in Model.Items)
        {
        <tr>
            <td class="font-weight-bold">@orderItem.ProductDescription</td>
            <td>@orderItem.sizeDescription</td>
            <td>@orderItem.unitCost.ToString("C")</td>
            <td>@orderItem.quantity</td>
            <td>@orderItem.tax.ToString("C")</td>
            <td>@orderItem.totalCost.ToString("C")</td>
        </tr>
        @if (orderItem.addOnList.Count > 0)
        {
            var addOnTypes = orderItem.addOnList.Select(a => a.addOnType).Distinct().ToList();
            var syrups = orderItem.addOnList.Where(a => a.addOnType == "Syrup").ToList();
            var totalSyrupCost = syrups.Sum(a => a.TotalPrice);

            <tr>
                <th class="small font-weight-bold">Add Ons</th>
            </tr>

            @foreach (var addOnType in addOnTypes)
            {
                <tr class="addOnType">
                    <th class="small">@addOnType</th>
                </tr>
                <tr style="display: none;">
                    @foreach (var addons in orderItem.addOnList)
                    {

                        @if (addons.addOnType == addOnType)
                        {
                            <td class="small">@addons.Quantity, @addons.addOnDescription </td>
                        }
                    }
                    @if (addOnType == "Syrup")
                    {
                        <td class="small font-weight-bold">Total Cost: @totalSyrupCost</td>
                    }
                    else if (addOnType == "Espresso")
                    {
                        <td class="small font-weight-bold">Total Cost: @orderItem.addOnList.SingleOrDefault(a => a.addOnDescription == "Espresso Shot").TotalPrice</td>
                    }
                    else { }
                </tr>
            }

        }

    }

        <tr>
            <td colspan="4"></td>
            <td>Total:</td>
            <td>@Model.GrandTotal.ToString("C")</td>
        </tr>




    </table>

    <script>

        $(document).ready(function () {
            $('.addOnType').click(function () {
                $(this).next('tr').toggle();
            });
        });
    </script>