
@{
    ViewData["Title"] = "ManageMenuTable";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
   
}




<h1>ManageMenuTable</h1>

@model ManageMenuTableModel

@{
            ViewData["Title"] = "Manage Menu";
}

<table style="display: none;">
    <tr id="editRow" style="display: none;">
        <td><input asp-for="updateProduct.ProductId" readonly /></td>
        <td><input asp-for="updateProduct.productSku" /></td>
        <td><input asp-for="updateProduct.DrinkId" readonly /></td>
        <td><input asp-for="updateProduct.DrinkName" /></td>
        <td><input asp-for="updateProduct.DrinkDescription" /></td>
        <td><input asp-for="updateProduct.SizeId" min="1" max="10" /></td>
        <td><input asp-for="updateProduct.SizeName" readonly /></td>
        <td><input asp-for="updateProduct.Price" min=".01" /></td>
        <td><input class="btn btn-primary" type="submit" value="Update" /> <input class="cancelButton" type="button" value="Cancel" /> </td>
    </tr>
</table>

<div id="menuTable">
    @Html.ValidationSummary(false)
    
    <form method="post" action="@Url.Action("UpdateProduct","Employee")">
        <table class="table table-bordered table-responsive table-hover" id="productTable">

            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product SKU</th>
                    <th>Drink ID</th>
                    <th>Drink Name</th>
                    <th>Drink Description</th>
                    <th>Size ID </th>
                    <th>Size Name</th>
                    <th>Price</th>
                    <th>Update</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.viewProduct.productList)
                {
                    <tr data-product='@Json.Serialize(product)'>
                        <td>@product.ProductId</td>
                        <td>@product.productSku</td>
                        <td>@product.DrinkId</td>
                        <td>@product.DrinkName</td>
                        <td>@product.DrinkDescription</td>
                        <td>@product.SizeId</td>
                        <td>@product.SizeName</td>
                        <td>@product.Price.ToString("C")</td>
                        <td><input type="button" value="update" class="updateButton" /></td>
                    </tr>
                }

            </tbody>
        </table>
    </form>

</div>

<h2>Update Product</h2>
<div id="updateProductDiv">

    <form method="post" action="@Url.Action("UpdateProduct","Employee")">

        <label for="ProductId">Product ID</label>
        <input asp-for="updateProduct.ProductId" /><br />
        <label for="DrinkID">DrinkID</label>
        <input asp-for="updateProduct.DrinkId" /><br />
        <label for="DrinkName">Drink Name</label>
        <input asp-for="updateProduct.DrinkName" /><br />
        <label for="DrinkDescription">Drink Description</label>
        <input asp-for="updateProduct.DrinkDescription" /><br />
        <label for="SizeID">Size ID</label>
        <input asp-for="updateProduct.SizeId" /><br />
        <label for="SizeName">SizeName</label>
        <input asp-for="updateProduct.SizeName" /><br />
        <label for="Price">Price</label>
        <input asp-for="updateProduct.Price" /><br />
        <input type="submit" value="update" />


    </form>

</div>







@section Scripts{
    <script src="~/js/datatables.js"></script>
}







