
@{
    ViewData["Title"] = "ManageMenuTable";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";

}




<h1>ManageMenuTable</h1>

@model ManageMenuTableModel

@{
    ViewData["Title"] = "Manage Menu";
}
<a class="btn btn-orange" asp-controller="Employee" asp-action="AddProduct">Add Product</a>
<table style="display: none;">
    <tr id="editRow" style="display: none;">
        <td><input asp-for="updateProduct.ProductId" readonly /></td>
        <td><input asp-for="updateProduct.DrinkId" readonly /></td>
        <td><input asp-for="updateProduct.DrinkName" /></td>
        <td><input asp-for="updateProduct.DrinkDescription" /></td>
        <td><input asp-for="updateProduct.SizeId" min="1" max="10" /></td>
        <td><input asp-for="updateProduct.SizeName" readonly /></td>
        <td><input asp-for="updateProduct.Price" min=".01" /></td>
        <td><input class="btn btn-primary" type="submit" value="Update" /> <input class="btn btn-orange cancelButton" type="button" value="Cancel" /> </td>
    </tr>
</table>

<div id="menuTable">
    @Html.ValidationSummary(false)

    <form method="post" action="@Url.Action("UpdateProduct","Employee")">
        <table class="table table-bordered table-responsive table-hover" id="productTable">

            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Drink ID</th>
                    <th>Drink Name</th>
                    <th>Drink Description</th>
                    <th>Size ID </th>
                    <th>Size Name</th>
                    <th>Price</th>
                    <th>Update</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.viewProduct.productList)
                {
                    <tr data-product='@Json.Serialize(product)'>
                        <td>@product.ProductId</td>
                        <td>@product.DrinkId</td>
                        <td>@product.DrinkName</td>
                        <td>@product.DrinkDescription</td>
                        <td>@product.SizeId</td>
                        <td>@product.SizeName</td>
                        <td>@product.Price.ToString("C")</td>
                        <td><input type="button" value="update" class="btn btn-orange updateButton" /></td>
                    </tr>
                }

            </tbody>
        </table>
    </form>

</div>





@section Scripts{
        <script src="~/js/datatables.js"></script>
    }







