
@{
    ViewData["Title"] = "ManageMenuTable";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";

}




<h1>ManageMenuTable</h1>

@model ManageMenuTableModel

@{
    ViewData["Title"] = "Manage Menu";
}
<a class="btn btn-orange" asp-controller="Employee" asp-action="AddProduct">Add Product</a>
<a class="btn btn-orange" asp-controller="Employee" asp-action="AddCategory">Add Category</a>
<br />
<br />

@*<input style="max-width:150px;overflow:auto;" asp-for="updateProduct.category" min="1" max="10" />*@
<table style="display: none;" id="updateRow">
    <tr id="editRow" style="display: none;">
        <td><input class="form-control form-control-sm" style="max-width:75px;overflow:auto;" asp-for="updateProduct.ProductId" readonly /></td>
        <td><input style="max-width:150px;overflow:auto;" asp-for="updateProduct.ProductSku" /></td>
        <td><select asp-for="updateProduct.category" asp-items="Model.DrinkCategories"> </select> </td>
        <td><input class="form-control form-control-sm" style="max-width:75px; overflow: auto;" asp-for="updateProduct.DrinkId" readonly /></td>
        <td><input asp-for="updateProduct.DrinkName" /></td>
        <td><input style="min-width:600px;overflow:auto;" asp-for="updateProduct.DrinkDescription" /></td>
        <td><input class="form-control form-control-sm" asp-for="updateProduct.SizeId" min="1" max="3" readonly /></td>
        <td><input class="form-control form-control-sm" style="max-width:100px;overflow:auto;" asp-for="updateProduct.SizeName" readonly /></td>
        <td><input style="max-width:100px;overflow:auto;" asp-for="updateProduct.Price" min=".01" /></td>
        <td><input class="btn btn-orange" type="submit" value="Update" /> <input class="btn btn-primary cancelButton" type="button" value="Cancel" /> </td>
    </tr>
</table>

<div id="menuTable">
    <form method="post" asp-action="ManageMenuTable" asp-controller="Employee">
        <div class="text-danger" asp-validation-summary="All">
        </div>

        <table class="table table-bordered table-responsive table-hover" id="productTable">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product SKU</th>
                    <th>Category</th>
                    <th>Drink ID</th>
                    <th>Drink Name</th>
                    <th>Drink Description</th>
                    <th>Size ID </th>
                    <th>Size Name</th>
                    <th>Price</th>
                    <th>Update</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.viewProduct.productList)
                {
                    <tr data-product='@Json.Serialize(product)'>
                        <td>@product.ProductId</td>
                        <td>@product.ProductSku</td>
                        <td>@product.CategoryName</td>
                        <td>@product.DrinkId</td>
                        <td>@product.DrinkName</td>
                        <td>@product.DrinkDescription</td>
                        <td>@product.SizeId</td>
                        <td>@product.SizeName</td>
                        <td>@product.Price.ToString("C")</td>
                        <td><input type="button" value="update" class="btn btn-orange updateButton" /></td>
                    </tr>
                }

            </tbody>
        </table>
    </form>

</div>








@section Scripts{
    <script src="~/js/datatables.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}







