@model Carts
@{
    ViewData["Title"] = "Checkout";
    var cart = Model.CartsList.GroupBy(x => new { x.CartId, x.DrinkName, x.IdProduct, x.IdUser, x.Price, x.Quantity, x.SizeName });//where userid == userid
    var totalCart = cart.Sum(x => x.Key.Price * x.Key.Quantity);

}
<h1>@ViewData["Title"]<i class="fa fa-shopping-cart"></i></h1>

<h1>Your Cart: </h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in cart)
            {
                <tr>
                    <td>@item.Key.DrinkName</td>
                    <td>@item.Key.Quantity</td>
                    <td>@item.Key.SizeName</td>
                    <td>@item.Key.Price</td>
                    <td>(@item.Key.Quantity * @item.Key.Price)</td>
                </tr>
            }

            <tr>
                <td colspan="5"></td>
                <td colspan="1">Total: </td>
                <td colspan="1">@totalCart</td>
            </tr>
        </tbody>
    </table>
</div>